<div class="container">

<div class="about">
    <h2>A Little Bit About Me...</h2><br>

    <p>  
        Committed and goal-oriented Mechanical engineering graduate
looking to pursue a career in the software engineering domain. 
Possess excellent knowledge in full stack Web development.Ability to learn things 
quickly and capable of working in a fast-paced and team-driven environment.
</p>
<p>Lately, I’ve discovered my passion for the world of web development and the beauty behind building useful projects like the one you will find in this portfolio. 
</p>
<p>I’m now looking for a junior dev position to finally kick start my career and learn among professionals.</p>
</div>
<div class="pic">
    <img src="../../assets/images/undraw_developer_activity_re_39tg.svg" alt="" srcset="">
</div>
</div>
