<div class="container">
  <div class="about">
    <h2>A Little Bit About Me...</h2>
    <br />

    <p>
      Dedicated Full Stack Developer with experience in full stack and mobile
      app development seeking to leverage robust coding skills and a passion for
      responsive design in a dynamic tech environment. Eager to contribute to
      innovative projects and continuous improvement efforts while advancing in
      technical proficiency and collaborative success.
    </p>
  </div>
  <div class="pic">
    <img
      src="../../assets/images/undraw_developer_activity_re_39tg.svg"
      alt=""
      srcset=""
    />
  </div>
</div>
