
<div class="container">
 
<div class="socials">
<h2>Reach Out Via Socials</h2><br>
<p class="socials-item">1&nbsp;<span>.socials&nbsp;</span>&#123;</p>
<p class="socials-item" style="color: rgb(91, 195, 255);">2&nbsp;&nbsp;&nbsp;&nbsp;email
    <span style="color: rgb(227, 156, 4);">:</span>&nbsp;<a href="mailto:shibin22as@gmail.com">shibin22as@gmail.com
        <span style="color: white;">;</span></a></p>
        <p class="socials-item" style="color: rgb(91, 195, 255);">3&nbsp;&nbsp;&nbsp;&nbsp;Linkedin
            <span style="color: rgb(227, 156, 4);">:</span>&nbsp;<a href="https://www.linkedin.com/in/sibin-r-771006169/">Sibin.R
                <span style="color: white;">;</span></a></p>
                <p class="socials-item" style="color: rgb(91, 195, 255);">4&nbsp;&nbsp;&nbsp;&nbsp;github
                    <span style="color: rgb(227, 156, 4);">:</span>&nbsp;<a href="https://github.com/sibin22">sibin22
                        <span style="color: white;">;</span></a></p>
<p class="socials-item">5&nbsp;&nbsp;&#125;</p>
</div>
<span class="slash">

</span>
<div class="form">
<h2>Get In Touch</h2>
<form>
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="inputName4">Name</label>
        <input type="name" class="form-control" id="inputName4" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label for="inputSubject">Subject</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn">Submit</button>
        </div></div>
  </form>
</div>

</div>
