.container {
  margin: 10px auto;
  padding: 20px;
  width: 80%;
  height: 80vh;
}
@media (max-width: 967px) {
  .container {
    overflow-y: auto;
  }
}
.dropdown {
  cursor: pointer;
  padding: 10px;
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: none;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 16x;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown:hover {
  background-color: #0056b3;
}
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.up {
  transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
}
.content {
  padding: 5px 15px;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1px solid #dddddd3d;
  height: auto;
  color: #fff;
}
.content ul {
  font-size: 14px;
  padding: 5px 5px;
  list-style-type: style upper-roman;
  line-height: 1.6;
}
