<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="root">
  <div class="nav-top">
    <ul>
      <li routerLink="/home"><img id="logo" style="height: 18px;width: 18px;" src="../assets/images/pngwing.com.png" alt="" srcset=""></li>
      <li>File</li>
        <li>Edit</li>
          <li>Selection</li>
            <li>View</li>
              <li>Go</li>
                <li>Run</li>
                  <li>Terminal</li>
                    <li>Help</li>
    </ul>
    <p>Sibin.R - portfolio</p>
  <div style="display: flex;">
    <li style="color:yellow; font-size: 22px; "></li>
    <li style="color:green; font-size: 22px;"></li>
    <li style="color:red; font-size: 22px;"></li>
  </div>
</div>
<div class="content">
    <div class="nav-side">
<div class="nav-side-div">

          <div class="nav-side-item" routerLink="/home"[routerLinkActive]="['nav-active']"><i class="bi bi-house-door"></i></div>
          
          <div class="nav-side-item"routerLink="/exp"[routerLinkActive]="['nav-active']"><i class="bi bi-stack"></i></div>
          <div class="nav-side-item"routerLink="/project"[routerLinkActive]="['nav-active']"><i class="bi bi-code-slash"></i></div>
          <div class="nav-side-item"routerLink="/contact"[routerLinkActive]="['nav-active']"><i class="bi bi-envelope"></i></div></div>

         
          <div class="nav-side-div2">
             <div class="nav-side-item"routerLink="/about"[routerLinkActive]="['nav-active']"><i class="bi bi-person-circle"></i></div>
              <div class="nav-side-item"><i class="bi bi-gear"></i></div>
      </div>
    </div>
<div class="file-name">
  <div class="explorer"> <p>EXPLORER</p> <p style="line-height: 1px;font-size: 11pt;">...</p></div>
 <div class="portfolio">
  <i style="font-size: 10pt;margin-left: 10px;  color: white;" class="bi bi-chevron-down" >
 </i>&nbsp;<p style="font-size: 10pt;margin-left: 0px;margin-top: 0px;"> PORTFOLIO</p>
</div>
<div class="home" routerLink="/home"  [routerLinkActive]="['home-active']">
<p style="color: rgb(4, 177, 225);font-weight: bolder;">TS</p>&nbsp;&nbsp;<p style="font-size: 10pt;">home.ts</p>
</div>

<div class="home"  routerLink="/exp"  [routerLinkActive]="['home-active']">
  <i style=" color:rgb(4, 177, 225);font-weight: bolder;font-size: 16px;margin: 0;margin-top: 4px;"class="bi bi-hash"></i>&nbsp;&nbsp;<p style="font-size: 10pt;">experience.css</p>
  </div>

  <div class="home"  routerLink="/project"  [routerLinkActive]="['home-active']">
    <i style="color: rgb(214, 91, 3);font-weight: bolder;font-size: 16px;margin: 0;margin-top: 4px;" class="bi bi-code"></i>&nbsp;&nbsp;<p style="font-size: 10pt;">projects.html</p>
    </div>

    <div class="home"  routerLink="/about"  [routerLinkActive]="['home-active']">
      <p style="color: rgb(214, 91, 3);font-weight: bolder;">TS</p>&nbsp;&nbsp;<p style="font-size: 10pt;">about.ts</p>
      </div>

      <div class="home"  routerLink="/contact"  [routerLinkActive]="['home-active']">
        <img style="width: 15px;height: 15px;margin-top: 8px;"src="../assets/images/file-type-light-json.svg" alt="" srcset="">&nbsp;&nbsp;<p style="font-size: 10pt;">contact.json</p>
        </div>
       
</div>
<div class="tab">
  <div class="page"  routerLink="/home"  [routerLinkActive]="['is-active']"><p style="color:rgb(4, 177, 225);font-weight: bolder;padding-top: 14px;">TS</p>&nbsp;&nbsp;<p style="font-size: 10pt;padding-top: 14px;">home.ts</p></div>
  <div class="page" routerLink="/exp" [routerLinkActive]="['is-active']"><i style=" color:rgb(4, 177, 225);font-weight: bolder;font-size: 16px;"class="bi bi-hash"></i>&nbsp;<p style="font-size: 10pt;padding-top: 14px;">skils.css</p></div>
  <div class="page" routerLink="/project" [routerLinkActive]="['is-active']"><i style="color: rgb(214, 91, 3);font-weight: bolder;font-size: 16px;" class="bi bi-code"></i>&nbsp;<p style="font-size: 10pt;padding-top: 14px;">projects.html</p>
  </div>
  <div class="page"routerLink="/about" [routerLinkActive]="['is-active']"><p style="color: rgb(214, 91, 3);font-weight: bolder;padding-top: 14px;">TS</p>&nbsp;&nbsp;<p style="font-size: 10pt;padding-top: 14px;">about.ts</p>
  </div>
  <div class="page" routerLink="/contact" [routerLinkActive]="['is-active']"><img style="width: 15px;height: 15px;"src="../assets/images/file-type-light-json.svg" alt="" srcset="">&nbsp;&nbsp;<p style="font-size: 10pt;padding-top: 14px;">contact.json</p>
  </div>
</div>
<div class="main">
  <router-outlet> </router-outlet>
</div>
    </div>
    <div class="nav-bottom">
      <div class="bottom-item">
     <div> <i style="font-size: 15px;margin-top: 0px;" class="bi bi-x-circle"></i>&nbsp;
      0</div>&nbsp;
      <div><i style="font-size: 15px;" class="bi bi-exclamation-triangle"></i>&nbsp;0</div>
      </div>

      <div class="bottom-item-link">
        <div class="social" onclick="location.href='https://www.linkedin.com/in/sibin-r-771006169/'"><i  style="font-size: 15px;" class="bi bi-linkedin"></i>&nbsp;&nbsp;Linkedin</div>&nbsp;&nbsp;&nbsp;
        <div class="social" onclick="location.href='https://github.com/sibin22';"><i  style="font-size: 15px;"class="bi bi-github"></i>&nbsp;&nbsp;Github</div>&nbsp;&nbsp;&nbsp;
        <div class="social"><i  style="font-size: 15px;"class="bi bi-bell"></i></div>&nbsp;&nbsp;&nbsp;
      
      </div>
    </div>
 </div>
