
<div style="    height: 83.7vh;
scroll-behavior: smooth;
overflow-y: auto;text-align: center;    color:#eee;
font-family: 'Cascadia Code';">

<h1 style="margin-top: 20px;">PROJECTS</h1>
<div class="div">

  <div class="container">
    <div class="wrapper">
      <div class="banner-image"><img src="../../assets/images/contact-form.png" alt="" srcset=""> </div>
      <h2> FLEET - MANAGEMENT</h2>
    
     </div>
     <div class="tech-stack">

      <div class="stack"><img  src="../../assets/images/file-type-angular.svg" alt="" srcset=""></div>
      <div class="stack"><img src="../../assets/images/icons8-spring-boot.svg" alt="" srcset=""></div>
      <div class="stack"><img  src="../../assets/images/mysqlworkbench.svg" alt="" srcset=""></div>
      </div>

     <div class="button-wrapper"> 
     <button class="btn outline" onclick="location.href='https://github.com/sibin22/fleet-management-application';">CODE</button>
     </div>
       </div>

    
       <div class="container">
        <div class="wrapper">
          <div class="banner-image"><img src="../../assets/images/online-shop_919806.png" alt="" srcset=""> </div>
          <h2> E-commerce Website</h2>
        </div>
        <div class="tech-stack">
        
          <div class="stack"><img  src="../../assets/images/file-type-html.svg" alt="" srcset=""></div>
          <div class="stack"><img  src="../../assets/images/file-type-css.svg" alt="" srcset=""></div>
          <div class="stack"><img  src="../../assets/images/bootstrap-plain.svg" alt="" srcset=""></div>
          <div class="stack"><img  src="../../assets/images/javascript-js.svg" alt="" srcset=""></div>
       
       </div>
         <div class="button-wrapper"> 
         <button class="btn outline"onclick="location.href='https://github.com/sibin22/ecommerce-website';">CODE</button>
           <button class="btn fill"onclick="location.href='https://comfy-liger-5a4197.netlify.app';">LIVE</button>
         </div>
           </div>
        
           <div class="container">
            <div class="wrapper">
              <div class="banner-image"><img src="../../assets/images/list_4472515.png" alt="" srcset=""> </div>
              <h2> ToDo List</h2></div>
              <div class="tech-stack">
        
                <div class="stack"><img  src="../../assets/images/file-type-html.svg" alt="" srcset=""></div>
                <div class="stack"><img  src="../../assets/images/file-type-css.svg" alt="" srcset=""></div>
                <div class="stack"><img  src="../../assets/images/javascript-js.svg" alt="" srcset=""></div>
             </div>
             
             <div class="button-wrapper"> 
             <button class="btn outline"onclick="location.href='https://github.com/sibin22/todo-list';">CODE</button>
               <button class="btn fill"onclick="location.href='https://gentle-elf-f213bd.netlify.app';">LIVE</button>
             </div>
               </div>
            
               <div class="container">
                <div class="wrapper">
                  <div class="banner-image"><img src="../../assets/images/visual-studio_906324.png" alt="" srcset=""> </div>
                  <h2> portfolio-Vs code </h2>
                 </div>
                 <div class="tech-stack">
        
                  <div class="stack"><img  src="../../assets/images/file-type-html.svg" alt="" srcset=""></div>
                  <div class="stack"><img  src="../../assets/images/file-type-css.svg" alt="" srcset=""></div>
                  <div class="stack"><img  src="../../assets/images/file-type-angular.svg" alt="" srcset=""></div>
               </div>
                 
                 <div class="button-wrapper"> 
                 <button class="btn outline" onclick="location.href='https://github.com/sibin22/url-shortner';">CODE</button>
                   <button class="btn fill" onclick="location.href='https://github.com/sibin22/url-shortner';">LIVE</button>
                 </div>
                   </div>

                   <div class="container">
                    <div class="wrapper">
                      <div class="banner-image"><img src="../../assets/images/link.png" alt="" srcset=""> </div>
                      <h2>URL - SHORTNER</h2>
                     </div>
                     <div class="tech-stack">
        
                      <div class="stack"><img  src="../../assets/images/file-type-html.svg" alt="" srcset=""></div>
                      <div class="stack"><img  src="../../assets/images/file-type-css.svg" alt="" srcset=""></div>
                      <div class="stack"><img  src="../../assets/images/file-type-angular.svg" alt="" srcset=""></div>
                   </div>

                     <div class="button-wrapper"> 
                     <button class="btn outline" onclick="location.href='https://github.com/sibin22/url-shortner';">CODE</button>
                       <button class="btn fill" onclick="location.href='https://url-shortner-rosy.vercel.app/';">LIVE</button>
                     </div>
                       </div>

                       <div class="container">
                        <div class="wrapper">
                          <div class="banner-image"><img  src="../../assets/images/calculator_2538626.png" alt="calculator"/></div>
                          <h2> Calculator</h2>
                        
                         </div>
                         <div class="tech-stack">
                            
                            <div class="stack"><img  src="../../assets/images/file-type-html.svg" alt="" srcset=""></div>
                            <div class="stack"><img  src="../../assets/images/file-type-css.svg" alt="" srcset=""></div>
                            <div class="stack"><img  src="../../assets/images/javascript-js.svg" alt="" srcset=""></div>
                         </div>
                         <div class="button-wrapper"> 
                         <button class="btn outline"onclick="location.href='https://github.com/sibin22/calculator';">CODE</button>
                           <button class="btn fill"onclick="location.href='https://iridescent-custard-c0a70a.netlify.app';">LIVE</button>
                         </div>
                           </div>
                           <div class="container">
                            <div class="wrapper">
                              <div class="banner-image"><img  src="../../assets/images/helpline_5195039.png" alt="calculator"/></div>
                              <h2> My Tutor</h2>
                            
                             </div>
                             <div class="tech-stack">
                                
                                <div class="stack"><img  src="../../assets/images/file-type-html.svg" alt="" srcset=""></div>
                                <div class="stack"><img  src="../../assets/images/file-type-css.svg" alt="" srcset=""></div>
                                <div class="stack"><img  src="../../assets/images/javascript-js.svg" alt="" srcset=""></div>
                             </div>
                             <div class="button-wrapper"> 
                             <button class="btn outline"onclick="location.href='https://github.com/sibin22/myTutor-landingPage ';">CODE</button>
                               <button class="btn fill"onclick="location.href=' https://my-tutor-landing-page.vercel.app/';">LIVE</button>
                             </div>
                               </div>

            </div></div>
   