<div class="cont">
    <div class="contain">
 <div  clas="home-content"> 
<p style="font-size: 1.2rem;">Hello World👋</p><br>
<h1>Sibin.R</h1>
<ngx-typed-js [strings]="['Fullstack Developer','Frontend Developer']" [shuffle]="true"[loop]="true" [typeSpeed]="80"><span class="typing"></span>
</ngx-typed-js>
<div class="button-group">
    <button class="button1" [attr.download]="'Sibin.R (1).pdf'" (click)="downloadFile()">RESUME</button>
    <button class="button2" routerLink="/contact" [routerLinkActive]="['is-active']">CONTACT</button>
    </div>
</div></div></div>

