<div class="containe">

<div class="exp-tab">
<div class="heading">
    
<h1>SKILLS</h1></div>
    <div class="skills">
        <div class="skill"><img  src="../../assets/images/file-type-html.svg" alt="" srcset=""></div>
        <div class="skill"><img  src="../../assets/images/file-type-css.svg" alt="" srcset=""></div>
        <div class="skill"><img  src="../../assets/images/bootstrap-plain.svg" alt="" srcset=""></div>
        <div class="skill"><img  src="../../assets/images/javascript-js.svg" alt="" srcset=""></div>
        <div class="skill"><img  src="../../assets/images/typescript-icon.svg" alt="" srcset=""></div>
        <div class="skill"><img  src="../../assets/images/file-type-angular.svg" alt="" srcset=""></div>
        <div class="skill"><img  src="../../assets/images/icons8-spring-boot.svg" alt="" srcset=""></div>
        <div class="skill"><img  src="../../assets/images/mysqlworkbench.svg" alt="" srcset=""></div>

   
    </div>

</div>


</div>
